body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px;
  }
  .container {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    z-index: 1;
    position: relative;
  }
  .details-section {
    background-color: rgba(244, 203, 203, 0.8);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
    animation: fadeIn 1s ease-in-out;
  }
  
  .details-section p {
    margin: 0;
    color: #333;
    font-size: 1.2em;
  }
  
  .details-section p span {
    font-weight: bold;
    font-size: 1.3em;
  }
  .info-section,
  .new-section {
    background-color: rgba(247, 203, 203, 0.8); 
    color: black;
    padding: 30px;
    margin-top: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    animation: slideInUp 1s ease-in-out;
  }
  
  .info-section strong,
  .new-section strong {
    font-size: 1.3em;
  }
  
  button {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 25px;  
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  button:hover {
    background-color: #45a049; 
    transform: translateY(-2px);
  }
  
  .icons {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .icons svg {
    font-size: 1.5em;
    transition: transform 0.3s, color 0.3s;
  }
  
  .icons svg:hover {
    transform: scale(1.2);
    color: #4CAF50;
  }
  
  .dropdown {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px solid #ccc;
    width: 200px;
    background: #fff;
    position: absolute;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .dropdown li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dropdown li:hover {
    background: #f0e0c0; 
  }
  
  /* Animations */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .details-section, .info-section, .new-section {
      padding: 20px;
    }
  
    .info-section strong,
    .new-section strong {
      font-size: 1.1em;
    }
  
    button {
      padding: 10px 20px;
    }
  
    .icons {
      flex-direction: column;
    }
  }
  