.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 30px 30px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
/* Ensure the parent container uses flexbox to center its children */
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height for vertical centering */
}

/* Styling for the black box */
.container-chatbot {
  border: 2px solid rgb(239, 113, 113);
  background-color: black;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Ensure any text inside is visible */
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555555;
}

.input-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333333;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: rgba(244, 172, 172, 0.8);
}

.textarea-field {
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333333;
  resize: vertical;
  transition: border-color 0.3s ease;
}

.textarea-field:focus {
  outline: none;
  border-color: rgba(244, 172, 172, 0.8);
}

.button {
  width: 100%;
  padding: 14px;
  background-color: rgba(244, 203, 203, 0.8);
  border: none;
  border-radius: 6px;
  font-size: 18px;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: rgba(244, 172, 172, 0.8);
}

.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}
/* Styling for select box */
.select-box {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none; /* Remove default outline */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Styling for options */
.select-box option {
  font-size: 16px;
  background-color: #fff;
  color: #333;
}

/* Styling for select box when focused */
.select-box:focus {
  border-color: rgba(
    244,
    172,
    172,
    0.8
  ); /* Example of changing border color on focus */
}

.container-chatbot {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  width: 60vw ; 
  height: 70vh ; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin: 0 auto; /* Center the container */
}

.container-chatbot h3 {
  margin-top: 0;
  text-align: center;
}

.container-chatbot p {
  white-space: pre-wrap; /* Preserve whitespace and line breaks */
}
